@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Lato);

body * {
	/*Outline elements for debugging*/
	/*border: 1px dashed red;*/
}

body {
	width: 90%;
	margin: 0 auto;
	font-family: 'Open Sans Condensed', 'Lato', sans-serif;
	background-image: url('../../images/halftone.png');
}

header, main {
	width: 100%;
}

a {
	text-decoration: none;
}

/*header*/
header {
	margin: 30px auto;
	max-width: 900px;
}

header h1 {
	font-size: 4em;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	font-weight: bold;
	opacity: 0.6;
}

/*header nav*/
header nav ul li {
	float: left;
	display: inline-block;
	width: 14.5%;
	text-align: center;
	position: relative;
	top: -42px;
	font-size: 1.5em;
}

header nav li a {
	color: #000;
	border-bottom: 1px solid rgba(0, 0, 0, 255);;
  transition: border-color 0.5s ease;  
}

header nav li a:hover {
	border-color: rgba(0, 0, 0, 0);;
	/*border-bottom: 0px solid white;*/
}

#home {
	margin-left: 1%;
}
#about {
	margin-left: 2%;
}
#github {
	margin-left: 35%;
}
#contact {
	margin-left: 2%;
}

/*header subtitle*/
header h2 {
	font-size: 1.5em;
	width: 64%;
	text-align: center;
	margin: 30px auto;
	opacity: 0.4;
}

/*main*/
main {
	font-family: 'Lato';
	max-width: 900px;
	margin: 0 auto;
}

section {
	margin-bottom: 30px;
	height: auto;
}

section h3 {
	width: 100%;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
	margin-left: 1%;
	margin-bottom: 30px;
}

section h4 {
	padding-bottom: 10px;
	font-size: 1.3em;
	font-weight: bold;
}

section figure {
	position: relative;
	width: 100%;
	height: 250px;
	background-color: #000;
	color: #ccc;
	display: inline-block;
	overflow: hidden;
}

section figure img {
	height: 100%;
	width: auto;
	min-width: 100%;
	opacity: 0.6;
}

section figure figcaption {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 100%;
	word-wrap: break-word;
	transition: opacity 0.5s ease;  
}
section figure .blurb {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 90%;
	word-wrap: break-word;
	line-height: 1.5em;
	opacity: 0;
	transition: opacity 0.5s ease;
}

section > a:nth-child(2n) {
	margin-left: 8.25%;
	float: left;
}

section > a:nth-child(2n+1) {
	margin-right: 8.25%;
	float: right;
}

section > a {
	width: 31%;
	display: inline-block;
	opacity: 0.8;
  transition: opacity 0.5s ease;  
}
section a:hover,
section a:active {
	opacity: 1.0;
}

section a:hover figcaption,
section a:active figcaption {
	opacity: 0;
}

section a:hover .blurb,
section a:active .blurb  {
	opacity: 1.0;
}

section figcaption {
	color: #bbb;
	opacity: 0.8;
	font-size: 4em;
}

section:last-child {
	margin-bottom: 100px;
}

section > p {
	margin: 20px;
}

section > img {
	float: left;
	margin: 10px 20px;
}

/*article*/
article .article_content {
	display: block;
	width: 70%;
	margin: 0 auto;
}

.article_content p {
	font-size: 1.2em;
	margin-bottom: 20px;
	line-height: 1.8em;
}

.article_content a {
	color: #7f8c8d;
}

.article_content img {
	margin-bottom: 30px;
	max-width: 100%;
}

.center {
	display: block;
	margin: 0 auto;
}

.article_content ul {
	list-style-type: circle;
	margin-left: 20px;
}

.article_content ul li {
	font-size: 1.1em;
	margin-bottom: 10px;
	line-height: 1.7em;
}

.code {
	font-family: monospace;
	font-size: 1.3em;
	display: block;
	background-color: #95a5a6;
	border: 1px solid #000;
	opacity: 0.5;
	padding: 10px;
	width: 70%;
	margin: 10px auto;
}

.code > span {
	display: block;
	line-height: 1.4em;
}

/*footer*/
footer {
	background-color: black;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	left: 0;
}

footer ul {
	text-align: center;
}

footer li {
	color: #fff;
	display: inline-block;
	font-size: 2em;
	margin: 10px;
}

footer li a {
	color: #fff;
	opacity: 0.3;
  transition: opacity 0.5s ease;  
}

footer nav li a:hover {
	opacity: 1.0;
}


/*clearfix*/
.group:after {
  content: "";
  display: table;
  clear: both;
}

/*font and icons*/
@font-face {
  font-family: 'IcoMoon';
  src: url('../../font/icomoon.woff') format('woff');
}

[data-icon]:before {
  font-family: 'IcoMoon';
  content: attr(data-icon);
}

/*color classes*/
.black {
	color: #000;
}

/*accessibility*/
.screen-reader {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/*responsive*/
@media screen and (max-width: 900px){
	header h1 {
		font-size: 3em;
	}

	section figcaption {
		font-size: 2em;
	}
}

@media screen and (max-width: 700px){
	section figure {
		width: 100%;
		max-width: 100%;
	}

	section > a:nth-child(n) {
		width: 280px;
		max-width: 280px;
		display: block;
		float: none;
		margin: 30px auto;
	}
}

@media screen and (max-width: 480px){
	header h1 {
		font-size: 1.5em;
	}

	header h2 {
		display: none;
	}

	header nav ul li {
		font-size: 1em;
		top: -20px;
	}

	.article_content p {
		font-size: 1em;
		margin-bottom: 15px;
		line-height: 1.6em;
	}

	.article_content ul li {
		font-size: 0.9em;
		margin-bottom: 5px;
		line-height: 1.5em;
	}

	article .article_content {
		width: 90%;
	}

	.unimportant {
		display: none;
	}
}